VITE_FIREBASEAPI="<firebase-api-key>"
VITE_AUTHDOMAIN="<project-id>.firebaseapp.com"
VITE_PROJECTID="<project-id>"
VITE_STORAGEBUCKET="<project-id>.firebasestorage.app"
VITE_MESSAGINGSENDERID="<messaging-sender-id>"
VITE_APPID="<app-id>"
VITE_MEASUREMENTID="<measurement-id>"
VITE_BACKEND_URL="http://localhost:5000"
